{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block body %}
<section class="my-4">
    <h2>Admin Dashboard</h2>
</section>
<section>
    <table class="table table-bordered table-striped">
    
    <tbody>
    <tr>
        <td> Name </td>
        <td> {{user.username}} </td>
    </tr>
    <tr>
        <td> Role</td>
        <td> {{user.roles|join(', ')}} </td>
    </tr>
    <tr>
        <td> Permissions</td>
        <td> {% for scope in user.scopes %} 
                {{scope.grants|join(', ')}}
            {% endfor %}
        </td>
    </tr>
    </tbody>
    </table>

    <div class="row">

    <div class="col-md-6">
     {{ form_start(form) }}
        {{form_row(form.roles)}}
         <button type="submit" class="btn btn-success">Change Role</button>
     {{ form_end(form) }}

    </div>

    <div class="col-md-6">
        <p>Change User Access Permission </p>
        {{form_start(permissionForm, 
            {'action': path('admin.permission', {'id': user.id}), 
            attr: {novalidate: 'novalidate'}, 'method': 'POST'})
        }}
            {{form_row(permissionForm.post_create)}}
            {{form_row(permissionForm.comment_create)}}
            <button type="submit" class="btn btn-success">Change User Permission</button>
        {{form_end(permissionForm)}}
     </div>
</section>
{% endblock %}
