{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Create Post
{% endblock %}

{% block body %}
<section class="g-form">

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
        <h3>Create Post</h1>
        <div class="card">
        <div class="card-body">
        {{ form_start(createPost) }}
            {{ form_row(createPost.title) }}
            {{ form_row(createPost.content, { 'attr': {'class': 'g-form-textarea'} }) }}
            <input type="submit" class="btn btn-primary" value="Publish" />
        {{ form_end(createPost) }}
        </div>
        </div>
</section>
{% endblock %}
