{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Dashboard
{% endblock %}

{% block body %}
<section class="my-4">
    <div class="d-flex">
        <h2>{{post.title |title}}</h2>
        <div class="ml-auto">
            <a class="btn" href="#" id="postDropdown"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &vellip;
            </a>

            {% if is_granted('edit', post) %}
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="postDropdown">
                <a class="dropdown-item" href="{{path('post.edit', {id : post.id})}}">Edit</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_logout') }}">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="d-flex">
        <img class="user-avatar mr-2" src="{{post.author.getGravatarUrl()}}"/>
        <small>{{post.author.username}}, {{post.getcreatedAt|date("M d")}}</small>
    </div>
</section>
<section>
    <p>{{post.content}}</p>
</section>

<section class="g-comments mt-5">
    <h3> Discussions</h3>

     {{ form_start(commentForm) }}
        {{ form_row(commentForm.comment, {'label':false, 'attr':{'class': "commentbox"}}) }}

        <button type="submit" class="btn btn-primary g-right">Comment</button>

    {{ form_end(commentForm) }}
    
    <div class="mt-4">

    {% for comment in post.postComments %}
        <div class="card my-2">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <img class="user-avatar mr-2" src="{{comment.user.getGravatarUrl()}}"/>
                        <span> {{comment.user.username}}</span>
                    </div>
                    <small> {{comment.getcreatedAt |date("M d, Y H:m:s")}}</small>
                </div>
                <p class="mt-2">{{comment.comment}}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}
