<div class="card g-excerpts">
    <a href="{{ path('post.index', {'author':post.author.username, 'slug': post.slug }) }}">
    <div class="card-body">
        <img src="{{post.author.getGravatarUrl()}}"/>
        <div class="g-excerpts-content">
            <h4 class="g-excerpts-title">{{post.author.username}}</h4>
            <span>Published on {{post.getcreatedAt|date("M d, Y")}}</span>
            <h2>{{ post.title |title }}</h2>
            <p class="g-excerpts-desc">{{post.content}}</p>
        </div>
    </div>
    </a>
</div>